
nav a {
    text-decoration: none;

    font-size: 1.5em;
    color: #000000;
    font-family: georgia;
    padding: .5em;
    float: none;
    display: block; 
    padding-left: 1em;
}

a:hover {
    background-color: #0B0440;
    color: #ffffff;
}


.vpcclogo {
	width: 80%;
	height: auto;
	padding-top: 2em;
	padding-left: 1em;
	padding-bottom: 1.5em;
}

h2, h3{
	font-family: helvetica;
	text-align: center;
}

header {
	width: 15%;
	position: fixed;
	top: 0;
	left: 0
	height:100%;
}

footer {
	background-color:#0B0440;
	color: #ffffff;
	font-family: courier;
	font-weight: 400;
	font-size: .5em;
	clear: both;	
}

ul {
	font-size: 1em;
	font-family: helvetica;
	text-align: left;
}

.main {
	width: 80%;
	float: right;
}

.two_column{
	width: 1000px;
	font-size: 18px;
	font-family: garamond;
	margin:auto;
	align-content: center;
	background-color: none;
	padding-bottom: 20em;
	padding-top: 1em;
	text-align: justify-all;
	color: #0B0440;
}

#one, #two {
	width: 40%;
	float: left;
	padding-bottom: 2em;
	text-align: justify;
	background-color: none;
	border-width: 2em;
	padding: .5em;
	margin-left: 3em;
	
}

/*#two {
	width: 40%;
	float: left;
	padding-bottom: 2em;
	text-align: justify;
	background-color: none;
	border-width: 2em;
	padding: .5em;
	margin-left: 3em;
	
}*/

.four_column{
	width: 1000px;
	font-size: 18px;
	font-family: garamond;
	margin:auto;
	align-content: justify;
	background-color: none;
	padding-bottom: 15em;
	margin-bottom: 10em;
	text-align: justify-all;
	color: #0B0440;
}

#three, #four {
	width: 40%;
	float: left;
	padding-bottom: 2em;
	text-align: justify;
	background-color: none;
	align-content: left;
	padding: .5em;
	margin-left: 3em;
}

/*#four{
    width: 40%;
	float: left;
	padding-bottom: 2em;
	text-align: justify;
	background-color: none;
	padding: .5em;
	margin-left: 3em;

}*/

.ghmain {
    width: 1000px;
	font-size: 18px;
	font-family: garamond;
	margin:auto;
	align-content: center;
	padding-bottom: 80em;
	padding-top: 2em;
	padding-right: 2em;
	text-align: justify-all;	
}

#george {
	width: 50%;
	float: left;
	padding-bottom: 2em;
	text-align: justify;
	border-width: 2em;
	padding: .5em;
	padding-right: 3em;
	margin-left: 3em;
}

#ghphoto {
		padding-top: 2em;
		margin-top: 10em;
	
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
   
}



