h1, h2 {
  background-color: blue;
}

p {
  background-color: red;
}

ul {
 background-color: purple;
 display:inline;
}

li {
 background-color: purple;
 display:inline;
}

a {
  background-color: yellow;
}

strong, em {
  background-color: orange;
}

