header {
    background-color: #ffffff;
    border: 0;
    padding: 0;
    
}

img{

    width: 95%;
    height: auto;
    padding : 0.5em;
    padding-bottom: 0em;


}


body {
    font-size: 10px;
    font-family: helvetica, arial, sans-serif;
    color: #000000;
    line-height: 1.5;

}

nav a {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color: #000000;
    font-family: sans-serif;
    padding: 1em;
    margin: .5em;
    float: left;
    display: block;
}

a:hover {
    background-color: #0B0440;
    color: #ffffff;

}

aside {
    background-color: #D3DAFF;
    border: .2em black solid;
    padding: 2em;
    color: 0F10FF;
    float: left;
}

article {
    background-color: #D3DAFF;
    border: .2em black solid;
    padding: 2em;
}

footer {
    background-color: #FF957E;
    border: .2em black solid;
    padding: 2em;
    color: 0F10FF;
    float: none;
}

section {
    background-color: ##ffffff;
    border: .2em black solid;
    padding: 2em;
}

ul {
    display: inline;

}



#two_column {
    background-color: #D3DAFF;
    width: 80%
    border: .5em black solid;
    padding: 2em;
}

.article {
    width: 90%;
    padding:2%; 
    margin: .1%;
   
}

#left {
    background-color: #00E3FF;
    border: .5em black solid;
    padding: 2em;
    float: left;
    width: 45%;
}

#right {
    background-color: #00E3FF;
    border: .5em black solid;
    padding: 2em;
    float: right;
    width: 45%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}


@media only screen and (max-width: 1088px) {
    .article {
        float: none;
        width: auto;
        
    }

@media (max-width: 480px) {
 
  img {
    width: 230px;
  }











